@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Rubik);
*{
    margin: 0;
    padding: 0;
}



body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: #555;
    background-color: #000;
    font-family: 'Nunito Sans', sans-serif
}
/*home start*/
#home--{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(162, 42, 162) 83%);
    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
}
.home{
    text-align: center;
    color: #fff;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    width: 80%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
   
}
.home .home-title {
    margin: 0;
    font-size: 100px;
}
/*.wrapper{
    font-size: 2rem;
    color:#fff;
    display: flex;
}
.type{
    font-size: 2rem;
    overflow: hidden;
    color: rgb(18, 214, 64);
  }
    

  */
  /*.wrapper{
    display: flex;
    margin: 0 auto;
  }
  .wrapper .static-txt{
    color: #fff;
    /*font-size: 50px;
    font-weight: 400;*/
    /*margin-left: 550px;
    line-height: 75px;
    font-size: 2rem;
    margin: 0 auto;
  }
  .wrapper .dynamic-txts{
    /*margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    
  }
  .dynamic-txts li{
    list-style: none;
    color: blue;
    font-size: 2rem;
    /*font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 1px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    /*left: 0;
    height: 100%;
    width: 100%;
    background:#080420;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
    margin: 0 auto;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }*/  
/*home end*/
/*about start*/
#about {
    width: 80%;
    margin: 0 auto;
    max-width: 960px;
}
section ,
picture{
    display: block
}

h1 {
    margin: .67em 0;
    font-size: 2.5rem;
}
.about-title {
    text-align: center;
    margin: 5px auto;
    color: #fff;
}

div {
    display: block;
}
.about-img{
    margin: 5px auto;
    text-align: center;
    border-radius: 25px;   
}
 .about-p {
    /*margin: 1em 0;*/
    color: #fff;
    line-height: 30px;
    word-spacing: 3px;
    margin: 3px auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
 }
 .hi{
     font-weight: 300;
     font-size: 2rem;
 }

/*p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*about end*/

